

.election_image{
    float: left;
    height: 100px;
    width: 100px;
}
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(219, 218, 218);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

p {
    text-align: center;
}

.options {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #427cbb;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    width: 50%;
    border: solid 1px rgb(0, 0, 197);
}

.btn:hover {
    background-color: #003c82;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 0px black;
    margin-top: 5px;

}

label{
    margin-bottom: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    text-align: center;
}

img {
  
    margin-bottom: 10px;
}

.back_button{
 
 color: wheat;
 background-color: rgb(226, 65, 65);
 border: 0;
 height: auto;
 margin-left: 50px;
 margin-top: 20px;
 height: 25px;
 border-radius: 10px;
}

.back{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}





