body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.election_image{
    float: left;
    height: 100px;
    width: 100px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.header_title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav_links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10;
}

.nav_links li {
    margin-right: 0 10px;
}

.nav_links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.menu_icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 200px;
    }

    .nav_links li {
        margin: 0;
        border-bottom: 1px solid #ddd;
    }

    .nav_links li:last-child {
        border-bottom: none;
    }

    .menu_icon {
        display: block;
    }
}